.project
.pydevproject
.settings
*.pyc
.project
.pyproject
.DS_Store
.settings
.settings/*
.idea
.idea/*
__pycache__
__pycache__/*
build
build/*
dist/*
dist
debug.log
conf.xml
config.xml
*.csv
test.py
test1.py

